# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook (initial / means only in this directory)
.ipynb_checkpoints
/*.ipynb

# editor save files
*~

# Log files
logs/
*.log

# Temporary pickle files and .tim files
*.tim
*.tim.pickle.gz
temp/

# other tex files
*.tex
*.aux

# intermediate summary pngs and summary pdfs
/*summary_plot*.png
/*.pdf

# stray stuff
core.*

# intermediate files not to be checked in
/*.par
/*.tim
*.pickle.gz
/*.out

outliers/*
batch_scripts/*.*b.pbs*
batch_scripts/*/*.*b.pbs*
wb/*
nb/*
batch_scripts/202*
